.home-image-overlay {

  /* Here's the trick */
  background: linear-gradient(rgba(0,0,10,0.65), rgba(0,0,25,0.80)) , url(../../img/moffatt/home/moffatt-ladd-front-of-house-homepage-hero.jpg) center center;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptf-is--home-moffatt {
  .ptf-custom--3993 {
    position: relative;
    background: linear-gradient(rgba(200,200,255,.90), rgba(255,255,255,.75)), url(../../img/moffatt/home/moffatt-garden-home-about.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: justify;

    border-top: solid 2px #333;
    border-bottom: solid 2px #333;

  }

  .ptf-custom--1569 {
    background-color: var(--ptf-color-8);
    background-image: url();
    background-repeat: no-repeat;
    background-position: calc(100% + 15px) calc(100% + 150px);
  }

  
}
.moffatt-header-alert {
  background-color: var(--ptf-accent-alert);
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 8px;
  margin: 0 auto;

  a {
    color: var(--ptf-accent-2);
  }
}