/* WIDGET: DIVIDER
-------------------------------------------- */

.ptf-divider {
	--ptf-height: 3px;
	--ptf-color: var(--ptf-color-black);
	--ptf-width: 100%;
}

.ptf-divider {
	display: block;

	background-color: var(--ptf-color);

	clear: both;

	height: var(--ptf-height);

	width: var(--ptf-width);
}

.ptf-divider-center {
	--ptf-height: 2px;
	--ptf-color: var(--ptf-color-black);
	--ptf-width: 100%;
}

.ptf-divider-center {
	display: block;

	background-color: var(--ptf-color);

	clear: both;

	height: var(--ptf-height);

	width: var(--ptf-width);
	position: relative;
	left: 25%

}